.brand {
    height: 135%;
}

.main-page {
    background-color: #FFDB99;
    /*color: #adadad;*/
}

.joey-intro {
    position: relative;
}

.joey {
    width: 100%;
}

.name {
    position: absolute;
    top: 10%;
    left: 10px;
    width: 100%;
}

.contact {
    font-size: 2vw;
    letter-spacing: 8px;
    color: #2cd3d3;
}

.contact:hover {
    text-decoration: none;
}

.title {
    font-size: 8vw;
    color: #2cd3d3;
}

.tech-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 40px;
}

.techs {
    max-height: 70px;
    flex: 2;
    flex-grow: 0;
}

.techs:hover {
    max-height: 100px;
}

.bio {
    font-size: 2rem;
}

.express-font {
    color: greenyellow;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-family: Helvetica Neue;
    font-weight: 100;
    font-style: oblique;
}

.projects {
    background-color: #2cd3d3;
    height: 100%;
    width: 100%;
}

#slideshow {
    margin: 50px auto;
    position: relative;
}

.screenshots {
    margin: 0 auto;
    width: auto;
    height: 350px;
    max-height: 350px;
    display: block;
    overflow: visible;
    /*width: 100%;
    height: auto;
    margin-right: auto;
    margin-bottom: 12px;
    margin-left: auto;
    float: none;*/
}
