<div class="main-page">
    <div class="joey-intro">
        <img src="images/Joey-1.jpg" alt="" class="joey">
        <div class="name">
            <p class="title">My Name is</p>
            <p class="title"> Joseph Tongay</p>
            <a href="#" class="lead" ng-click="view.showAbout()">About</a><span class="lead">///</span>
            <a ui-sref="list" class="lead">Projects</a><span class="lead">///</span>
            <a href="#" class="lead">Contact</a><span class="lead">///</span>
            <a href="http://jtongay-challenge.ghost.io/" class="lead" target="_blank">Blog</a>
            <p>
                <div class="contact-info">
                    <a href="https://www.github.com/jtongay" target="_blank" class="contact">
                        <i class="fa fa-github fa-3x" aria-hidden="true"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/josephtongay" target="_blank" class="contact">
                        <i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i>
                    </a>
                    <a href="https://twitter.com/JosephTongay" target="_blank" class="contact">
                        <i class="fa fa-twitter fa-3x" aria-hidden="true"></i>
                    </a>
                    <a href="https://mail.google.com/mail/u/0/?view=cm&fs=1&to=joseph.tongay@gmail.com&tf=1" target="_blank" class="contact">
                        <i class="fa fa-envelope fa-3x" aria-hidden="true"></i>
                    </a>
                </div>
            </p>
        </div>
        <article class="about-section container-fluid" ng-show="view.about">
            <div class="text-center">
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <h1>About Me</h1>
                        <img src="images/JT-logo-2x.png" alt="">
                        <p class="bio">
                            I am a Full-Stack Web Developer, Galvanize graduate, dog dad, and all-around nerd. After being a touring musician and waiter my whole life, I decided to make Web Development the next chapter in my life. Since I began that chapter, I was hooked and it's
                            become one of the best decisions of my life.
                        </p>
                    </div>
                    <div class="col-md-8">
                        <div class="tech-stack">
                            <h1>Technologies I use</h1>
                            <div class="tech-container">
                                <img src="images/nodejs-logo.png" alt="" class="techs">
                                <img src="images/express-logo.png" alt="" class="techs">

                                <img src="images/ng-logo.png" alt="" class="techs">
                                <img src="images/postgres-logo.png" alt="" class="techs">
                                <img src="images/ionic_logo.svg" alt="" class="techs">
                                <img src="images/mocha-logo.png" alt="" class="techs">
                                <img src="images/chai-logo.png" alt="" class="techs">
                            </div>
                            <div class="tech-container">
                                <img src="images/ruby-rails-logo.png" alt="" class="techs">
                                <img src="images/HTML5_Logo_512.png" alt="" class="techs">
                                <img src="images/css3-logo.png" alt="" class="techs">
                                <img src="images/javascript-logo.png" alt="" class="techs">
                                <img src="images/jQuery.gif" alt="" class="techs">
                                <img src="images/bootstrap_solid.png" alt="" class="techs">
                                <img src="images/heroku-logo.png" alt="" class="techs">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="descriptions">
                <div class="row">
                    <div class="col-md-4">
                        <h2 class="text-center">Planner</h2>
                        <p class="bio">I am a researcher of every new piece of technology I use. To construct any database I'm creating, I map out an ERD to make the structure and relationships in my databases as efficient as possible. I methodically write out User
                            Stories on a Scrum Board and break each one down into smaller tasks to complete areas of the application within a deadline.</p>
                    </div>
                    <div class="col-md-4">
                        <h2 class="text-center">Creator</h2>
                        <p class="bio">After plenty of research and planning, I can implement features in a TDD and BDD style using multiple frameworks. I've always been a perfectionist and always looking for the most optimal way to refactor code. Every project I have
                            worked on, I have had fun solving any problem and implementing any feature needed for an application.</p>
                    </div>
                    <div class="col-md-4">
                        <h2 class="text-center">Team Member</h2>
                        <p class="bio">With a background in working in restaurants, I'm able to fit into any team and play whatever role is needed for the team. I have many years of experience with being a part of and leading a team with respect and professionalism.
                            I can speak to fellow team members comfortably and bring fun to any occassion.</p>
                    </div>
        </article>
        </div>
        </div>
    </div>
    <section class="container-fluid projects">
      <h2 class="text-center">Pi-TV</h2>
      <div class="row">
        <div class="col-md-6 bio">
          <p>This was a very fun project. I had gotten a Raspberry Pi 3 for my birthday and wanted to do some sort of project with it for class. The guidelines for the project were very simple, create something outside of the box. I already had a few CRUD apps in my pocket, so this project got me very excited. My fellow class-mate and I decided to make a smart TV because we knew we wanted to incorporate a mobile app with project. The challenge for this project was to have it completed in one week. My class-mate and I took to the Agile Methodology to get this project completed within the time frame. Our MVP (minumumal viable product) was to get it to play a YouTube video. We also decided to document our entire process with a blog to give people a better idea our thoughts throughout the project. After a few internet problems in campus, we managed to get our MVP completed within the week.</p>
          <p><ins>My Contribution:</ins> The entire Front-End in Ionic.</p>
        </div>
        <div class="col-md-6">
          <div uib-carousel active="" interval="view.imageInterval" no-wrap="view.noWrapSlides">
              <div uib-slide ng-repeat="picture in view.raspi track by picture.id" index="$index">
                <a ng-href="{{picture.image}}" target="_blank">
                  <img ng-src="{{picture.image}}" alt="" class="img-responsive screenshots">
                </a>
              </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 technologies-used">
          <h2>Technologies Used</h2>
          <img src="images/nodejs-logo.png" alt="" class="techs">
          <img src="images/express-logo.png" alt="" class="techs">
          <img src="images/socketio2.png" alt="" class="techs">
          <img src="images/ionic_logo.svg" alt="" class="techs">
        </div>
        <div class="col-md-6 links">
          <h2>Links</h2>
          <a href="https://github.com/JTongay/q3-smart-tv" target="_blank"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a>
          <a href="https://jtongay.github.io/q3-static-site/index.html" target="_blank"><i class="fa fa-rss fa-3x" aria-hidden="true">Blog</i></a>
        </div>
      </div>
      <h2 class="text-center">Rails Reddit Clone</h2>
      <div class="row">
        <div class="col-md-7">
          <div uib-carousel active="" interval="view.imageInterval" no-wrap="view.noWrapSlides">
              <div uib-slide ng-repeat="picture in view.railsReddit track by picture.id" index="$index">
                  <h3>{{picture.title}}</h3>
                  <a ng-href="{{picture.image}}" target="_blank">
                    <img ng-src="{{picture.image}}" alt="" class="img-responsive screenshots">
                  </a>
              </div>
          </div>
        </div>
        <div class="col-md-5 bio">
          <p><ins>The Assignment:</ins> Enter an unfamiliar environment and build a CRUD app in 3 weeks.</p>
          <p><ins>The Challenges:</ins> Getting out of the JavaScript mindset and learning a brand new language in Ruby.</p>
          <p><ins>The Process:</ins> I read Michael Hartl's <a href="https://www.railstutorial.org/book/" target="_blank">Ruby on Rails Tutorial</a> as well as a CodeAcademy course to get the basics down. It did not take long to understand core RoR concepts with previous knowledge.</p>
          <p><ins>The Result:</ins> A full CRUD Reddit Clone with user authentication/sign-in, posts, comments, and is fully deployed to Heroku.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-7 technologies-used">
          <h2>Technologies Used</h2>
          <img src="images/ruby-rails-logo.png" alt="" class="techs">
          <img src="images/bootstrap_solid.png" alt="" class="techs">
          <img src="images/heroku-logo.png" alt="" class="techs">
        </div>
        <div class="col-md-5 links">
          <h2>Links</h2>
          <a href="https://github.com/JTongay/rails-reddit-clone" target="_blank"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a>
          <a href="https://arcane-meadow-50906.herokuapp.com/" target="_blank"><i class="fa fa-desktop fa-3x" aria-hidden="true"></i></a>
        </div>
      </div>
      <h2 class="text-center">Digital Rolodex</h2>
      <div class="row">
        <div class="col-md-6 bio">
          <p><ins>The Assignment:</ins> Work in a team of 6 to create a Full-Stack and full CRUD application using any API in 1 week.</p>
          <p><ins>The Challenge:</ins> It was everyones first time working in a group of this size, so the Git workflow was new.</p>
          <p><ins>My Contributions:</ins> The ERD for everyone to be on the same page with tables, columns, and relationships. The migrations and seeds for development and testing databases. The tags feature where you can drag and drop descriptive tags for adding a new contact.</p>
          <p><ins>The Result:</ins> A full CRUD digital rolodex to keep all of a users contacts information in case the user loses business cards. The user can sign-up/log-in, create new contacts by either filling out the form or uploading a picture of a business card to fill out the form for you. The user can assign tags to a contact to describe who that person is.</p>
        </div>
        <div class="col-md-6">
          <div uib-carousel active="" interval="view.imageInterval" no-wrap="view.noWrapSlides">
              <div uib-slide ng-repeat="picture in view.digidex track by picture.id" index="$index">
                <a ng-href="{{picture.image}}" target="_blank">
                  <img ng-src="{{picture.image}}" alt="" class="img-responsive screenshots">
                </a>
              </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div uib-carousel active="" interval="view.imageInterval" no-wrap="view.noWrapSlides">
              <div uib-slide ng-repeat="picture in view.pokemonstay track by picture.id" index="$index">
                <a ng-href="{{picture.image}}" target="_blank">
                  <img ng-src="{{picture.image}}" alt="" class="img-responsive screenshots">
                </a>
              </div>
          </div>
        </div>
        <div class="col-md-6 text-center">
          <h2>Pokemon Stay!</h2>
          <a class="btn btn-primary" href="https://github.com/JTongay/q3-smart-tv" role="button" target="_blank"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
        </div>
      </div>
    </section>
    <footer class="footer">
        <div class="container">
            <h1>This is the footer</h1>
            <h2>&copy; Joseph Tongay</h2>
        </div>
    </footer>
</div>
